							<ul class="search_tabs">
								<li><g:link  id="selected_search_tab"  url="[controller:'broadcastResponse', action:'bcastresponse']"   ><span><span>Inbox</span></span></g:link></li>
								<li><g:link   controller="broadcastResponse" action="bcastresponse" params="[messageType:'sent']" ><span><span>Outbox</span></span></g:link></li>
								<li><g:link   url="[controller:'consumerinquiry', action:'list']"   ><span><span>Consumer Inquiry</span></span></g:link></li>
								<li><g:link   url="[controller:'connectionRequest',action:'list']"   ><span><span>Connection Requests</span></span></g:link></li>
							</ul>
