<ul>
								<li><g:link  id="selected_search_tab" url="[action:'list']"   ><span><span>List</span></span></g:link></li>
								<li><g:link   url="[action:'create']"   ><span><span>Add</span></span></g:link></li>
<!--								<li><g:link   url="[action:'searchinit']"   ><span><span>Search</span></span></g:link></li>  -->
								<li><g:link   url="[action:'initupload']"   ><span><span>Upload</span></span></g:link></li>
								<li><g:link   url="[action:'watchlist']"   ><span><span>Watchlist</span></span></g:link></li>
</ul>