<ul id="search_tabs" class="search_tabs" >
	<li><g:link   id="selected_search_tab"   url="[action:'wtb']"   ><span><span>WTB</span></span></g:link></li>
	<li ><g:link  url="[action:'wts']"   ><span><span>WTS</span></span></g:link></li>
	<li><g:link      url="[action:'wtbResp']"   ><span><span>WTB Responses</span></span></g:link></li>
	<li ><g:link  url="[action:'wtsResp']"   ><span><span>WTS Responses</span></span></g:link></li>
	<li><g:link  url="[action:'mycountries']"   ><span><span>My Countries</span></span></g:link></li>
</ul>
                      