<html>
<head>
</head>
<body>
<table>
<%
	invList.each { inv ->
%>
		<tr>
			<td>
		${inv.company.name}
			</td>
			<td>
				${inv.item.price}
			</td>
			<td colspan=2>
				<input type=button value=Buy />
			</td>
		</tr>
		<tr>
				<td>
				${inv.company.city}
				</td>
				<td>
				${inv.company.state}
				</td>
				<td>
				${inv.company.country}
				</td>
				<td>
				${inv.company.zipcode}
				</td>
		</tr>
		<tr>
				<td colspan=4>
				${inv.company.membershiplevel}
				</td>
		</tr>
<%
	}
%>
</table>
</body>
</html>