  
<html>
    <head>
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
         <meta name="layout" content="main" />
         <title>Login</title>         
    </head>
    <body>
           <h1>Login</h1><br>
           <g:if test="${flash.message}">
                 <div class="message">${flash.message}</div>
           </g:if>
           <g:form action="loginauth" method="post" >
                <table>
					<input type="hidden" name="targetUrl" value=""/>

            <table>
                <tr>
                    <td>Username</td>
                    <td><input id="username" class="text" type="text" name="user" style="text-align:center;" value="" onfocus="this.value=''; "/></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input id="password" class="text" type="password" name="password" style="text-align:center;" onfocus="this.value=''; this.setAttribute('type','password');"/> <span style="position:relative; top:3px;"></span></td>
                </tr>
            </table>
                       
                       
               </table>
               <div class="buttons">
                     <span class="formButton">
                        <input type="submit" value="Submit"></input>
                     </span>
               </div>
            </g:form>

    </body>
</html>
