                        <tr id="${person.id}" >
                        
                            <td>${fieldValue(bean:person, field:'firstname')}</td>
                            <td>${fieldValue(bean:person, field:'lastname')}</td>
                            <td><a href="view?id=${person.id}">${fieldValue(bean:person, field:'email')}</a></td>
                            <td>${fieldValue(bean:person, field:'officephone')}</td>
                            <td>${fieldValue(bean:person, field:'cellphone')}</td>
                            <td>${fieldValue(bean:person.role, field:'authority')}</td>
                        
                            <td>
	<g:isHigherRole person="${person}">
		
										     <table class="regular_table" >
											<tr>
												<td>
												<a href="javascript:void(0)" class="details" id="respond" onClick="javascript:editPerson('${person.id}');" ><img width=22 height=22 style="float:left" src="../images/edit.png" />&nbspDetails/Edit</a>
												</td>
												<td>
												<a href="javascript:void(0)"  id="respond" onClick="javascript:resetPassword('${person.id}');" ><img width=22 height=22 style="float:left" src="../images/reset.png" />&nbspReset Password</a>
												</td>
											</tr>
										     </table>
	</g:isHigherRole>


</td>
                        
                        </tr>
