	<div class="tab-content-block">
		<g:render template="broadcastGridSinglePart" model="${[broadcastList:broadcastList,conditionMap:conditionMap,countryMap:countryMap,companyMap:companyMap,manufacturerMap:manufacturerMap,broadcastTotal:broadcastTotal, filterParams:filterParams ]}" />
	</div>