<%@page import="java.text.*" %>
<%@page import="java.util.*" %>
<%@page import="test2.Broadcast" %>
<%@page import="test2.AppFlags" %>

<%
		SimpleDateFormat sdf = new SimpleDateFormat("dd-MMM-yyyy HH:mm z");
		sdf.setTimeZone(TimeZone.getTimeZone(session.person?.address?.timezone));

			
%>
<div id="tableRow" >
          <g:render template="broadcastRowsSinglePart" model="${[broadcastList:broadcastList, broadcastTotal:broadcastTotal]}" />
</div>
</div>
