<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="layout" content="emerald" />
    <title>Dialog Demo</title>
</head>

<body>
    <h1>Dialog Demo</h1>
    

</body>

</html>