

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="layout" content="main" />
        <title>Create Company</title>    
<script type="text/javascript" language="javascript">
var tzo=(new Date().getTimezoneOffset()/60)*(-1);
//alert(tzo);
</script>      
    </head>
    <body>
        <div class="body">
            <h1>Signup</h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <g:form name="signup" action="signup" method="post" >
                <div class="dialog">
                    <table>
                        <tbody>
                        
<script type="text/javascript" language="javascript">

  document.write("<INPUT TYPE=hidden VALUE=" + tzo + " name=tzoffset >");
	//alert(tzo);
</script>

                        
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <span class="button"><input class="save" type="submit" value="Signup" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>
