

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="layout" content="main" />
        <title>Show Permissions</title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLinkTo(dir:'')}">Home</a></span>
            <span class="menuButton"><g:link class="list" action="list">Permissions List</g:link></span>
            <span class="menuButton"><g:link class="create" action="create">New Permissions</g:link></span>
        </div>
        <div class="body">
            <h1>Show Permissions</h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <div class="dialog">
                <table>
                    <tbody>

                    
                        <tr class="prop">
                            <td valign="top" class="name">Id:</td>
                            
                            <td valign="top" class="value">${fieldValue(bean:permissions, field:'id')}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name">Chkbcastinbox:</td>
                            
                            <td valign="top" class="value">${fieldValue(bean:permissions, field:'chkbcastinbox')}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name">Chkrfqinbox:</td>
                            
                            <td valign="top" class="value">${fieldValue(bean:permissions, field:'chkrfqinbox')}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name">Manageinventory:</td>
                            
                            <td valign="top" class="value">${fieldValue(bean:permissions, field:'manageinventory')}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name">Person:</td>
                            
                            <td valign="top" class="value"><g:link controller="person" action="show" id="${permissions?.person?.id}">${permissions?.person?.encodeAsHTML()}</g:link></td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name">Sendbroadcast:</td>
                            
                            <td valign="top" class="value">${fieldValue(bean:permissions, field:'sendbroadcast')}</td>
                            
                        </tr>
                    
                    </tbody>
                </table>
            </div>
            <div class="buttons">
                <g:form>
                    <input type="hidden" name="id" value="${permissions?.id}" />
                    <span class="button"><g:actionSubmit class="edit" value="Edit" /></span>
                    <span class="button"><g:actionSubmit class="delete" onclick="return confirm('Are you sure?');" value="Delete" /></span>
                </g:form>
            </div>
        </div>
    </body>
</html>
